/* 
 general.css
 M Kane
 2/11/2025
 */


@media (max-width: 760px){
    .white-container {
        width: 80% !important;
    }
    .wrap-content {
        margin-top: 200px;
        flex-direction: column;
    }
    form {
        width: 55vw !important;
    }
}
body {
    background-color: rgb(229, 238, 175) !important;
    display: flex;
    flex-direction: row;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    margin: 2rem;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
}

input {
    width: 100%;
    margin-bottom: 1rem;
    height: 30px;
    border-radius: .5rem;
    outline: none;
    border: solid 2px rgb(75, 153, 111);
    text-align: center;
}

button {
    border-radius: .5rem !important;
    outline: none;
    border: solid 2px rgb(75, 153, 111);
    text-align: center;
}

span, h5 {
    color: rgb(72, 143, 142);
    font-weight: 700;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
}
.wrap-content{
    display: flex;
}

.input-btn {
    width: 150px;
    height: 40px;
    color: rgb(229, 238, 175);
    background-color: rgb(72, 143, 142);
}

.message {
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 30vh;
    color: rgb(72, 143, 142);
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
    align-content: center;
    text-align: center;
    line-height: 2rem;
    align-self: center;
}

.loading-anim {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.input-container {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.radio {
    width: 20px;
}

.gradient-bg{
    background: linear-gradient(143deg, rgba(135, 199, 194, 1) 0%, rgba(112, 219, 139, 1) 58%, rgba(208, 230, 129, 1) 98%);
}

.white-container{
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    margin: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
}

.options-container {
    width: 80%;
    gap: 2rem;
    border-bottom: 2px solid rgb(72, 143, 142);
}

.icon-btn{
    border: none;
    background-color: transparent;
    color: rgb(229, 238, 175);
    transition: 0.5s;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.604);
}

.icon-btn:hover{
    transform: scale(2, 2);
}

.rotate {
    transform: rotate(90deg);
}

.flip {
    transform: scaleX(-1);
}