/* 
 general.css
 M Kane
 2/11/2025
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');



@media (max-width: 860px){
    .white-container {
        width: 80% !important;
    }
    .wrap-content {
        margin-top: 200px;
        flex-direction: column;
    }
    form {
        width: 55vw !important;
    }

    .glass-card{
        width: 70vw !important;
       
    }

    .gc-btn-print {
            width: 100% !important;
    }
    
    #add-item-btn {
        height: inherit;
        
    }
}

@media (min-width: 900px){
    .glass-card{
        width: 40vw !important;
        max-width: 900px !important;

    }
}

*{
    font-family: "Poppins", sans-serif;
}
body {
    background-color: rgb(229, 238, 175) !important;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* form { 
    padding: 2rem;
    margin: 2rem;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
} */

.gc-form{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
}

.form {
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    margin: 2rem;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
}

input {
    width: 100%;
    margin-bottom: 1rem;
    height: 30px;
    border-radius: .5rem;
    outline: none;
    border: solid 2px rgb(75, 153, 111);
    text-align: center;
}

button {
    border-radius: .5rem !important;
    outline: none;
    border: solid 2px rgb(75, 153, 111);
    text-align: center;
}

span, h5 {
    color: rgb(72, 143, 142);
    font-weight: 700;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
}

ul {
    list-style-type: none;
    margin: 0 !important;
    padding:0 !important;
}
.wrap-content{
    display: flex;
}

.input-btn {
    width: 150px;
    height: 40px;
    color: rgb(229, 238, 175);
    background-color: rgb(72, 143, 142);
}

.message {
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 30vh;
    color: rgb(72, 143, 142);
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
    align-content: center;
    text-align: center;
    line-height: 2rem;
    align-self: center;
}

.loading-anim {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.input-container { /*change to .input-container-flex-row*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.input-container-flex-col{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 0.8rem;
    padding: 1rem;
}

.radio {
    width: 20px;
}

.gradient-green-light{
    background: linear-gradient(143deg, rgba(135, 199, 194, 1) 0%, rgba(112, 219, 139, 1) 58%, rgba(208, 230, 129, 1) 98%);
}

.gradient-orange-light {
    background: linear-gradient(143deg, rgb(225, 140, 90) 0%, rgb(226, 174, 146) 58%, rgb(238, 207, 188) 98%);
}

.gradient-pink-light {
    background: linear-gradient(143deg, rgb(231, 125, 180) 0%, rgb(235, 152, 153) 58%, rgb(238, 207, 188) 98%);
    height: 100vh;
}

.gradient-dream {
    background: linear-gradient(143deg, rgb(248, 230, 239) 0%, rgb(202, 221, 244) 58%, rgb(188, 213, 238) 98%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.bg-pink{
    background: pink !important;
}

.glass-card {
    background-color: rgba(245, 245, 245, 0.2);
    border: 1px solid rgba(255, 255, 255,0.1);
    padding: 2rem;
    margin: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
    transition: 0.3s;
}

.white-container{
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    height: auto;
    margin: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
    transition: 0.3s;
}

.white-container>.w-100{
    width: 100%;
}

.options-container {
    width: 80%;
    gap: 2rem;
    border-bottom: 2px solid rgb(72, 143, 142);
}

.icon-btn{
    border: none;
    background-color: transparent;
    color: rgb(229, 238, 175);
    transition: 0.5s;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.604);
}

.icon-btn:hover{
    transform: scale(2, 2);
}

.rotate {
    transform: rotate(90deg);
}

.flip {
    transform: scaleX(-1);
}

.result-text{
    white-space: pre-wrap;
    line-height: 2rem;
    color: rgb(241, 104, 159);
}

.choice-result-text {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    transition: 0.3s;
}

.brown-font{
    color: brown;
}

.input-brown{
    border: solid 2px brown;
}

.brown-border-btm{
    border-bottom: 2px solid brown;
}

.hidden{
    display:none;
}

.brown-btn {
    background-color: brown;
    color: white;
    border-radius: .5rem !important;
    outline: none;
    border: solid 2px brown;
    transition: 0.5s;
}

.brown-btn:hover{
    transform: scale(1.2, 1.2);
}

#lyrics-container{
    font-size: 0.8rem;
}

.flex-col-h-auto{
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
}

div > span > h2.gc-headings{
    font-family: "Poppins", sans-serif;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* color: rgb(184, 141, 219);
    text-shadow: 0 1px 2px rgba(83, 20, 76, 0.4);  */
}

.gc-label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gc-input {
    width: 100%;
    height: auto;
    border-radius: 0.7rem;
    padding: 0.7rem;
    border: 1px solid rgba(252, 252, 255, 0.565);
    background-color: rgba(240, 248, 255, 0.5);
    color: rgb(137, 150, 180);
    text-align: left;
}


.gc-btn {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: .7rem !important;
    padding: 0.7rem;
    outline: none;
    border: 1px solid rgba(252, 252, 255, 0.565);
    background-color: rgba(240, 248, 255, 0.5);
    transition: 0.5s;
    width: 100px;

}

.gc-btn:hover {
    transform: scale(1.2, 1.2);
}

.gc-btn-x{
    background-color: rgba(223, 64, 64, 0.253);
}

.gc-btn-x:hover{
    transform: scale(0.8, 0.8);
}

.add-item-container {
    /*change to .input-container-flex-row*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
    padding: 1rem 0;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
}

span.gc-input{
    font-weight: 500;
    color: rgb(108, 104, 137);
}

.gc-list-output {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 160px;
    overflow: auto;
    overflow-x: hidden;
}

.output-items-container {
    /*change to .input-container-flex-row*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
    padding: 0rem 0;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
}

.gc-btn-print{
    margin: 1rem 0;
    width: 200px;
    background-color: rgba(201, 184, 216, 0.565);
}

.gc-unordered-list{
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}