/* 
 Lab Week 7
 style.css
 M Kane
 2/11/2025
 */

body {
    background-color: rgb(229, 238, 175);
    display: flex;
    flex-direction: row;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    margin: 2rem;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
}

input {
    width: 100%;
    margin-bottom: 1rem;
    height: 30px;
    border-radius: .5rem;
    outline: none;
    border: solid 2px rgb(75, 153, 111);
    text-align: center;
}

span {
    color: rgb(72, 143, 142);
    font-weight: 700;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
}

.input-btn {
    width: 150px;
    height: 40px;
    color: rgb(229, 238, 175);
    background-color: rgb(72, 143, 142);
}

.message {

    padding: 50px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: auto;
    color: rgb(72, 143, 142);
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.183);
    align-content: center;
    text-align: center;
    line-height: 2rem;
}

.loading-anim {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}