:root{
    --primary-custom: rgb(171, 78, 55);
    --text-dark-brown: rgb(73, 51, 45);
}

body {
    background-color: rgb(239, 239, 239) !important;
    height: 100vh;
}

h1 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.228);
    color: var(--text-dark-brown) !important;
}

.bg-burnt {
    background-color: var(--primary-custom);
}

.loading-anim {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
